.logo {
  width: 10.26vw;
  height: 2.5vh;
}

.nav {
  width: 100vw;
  height: 7.87vh;
  margin: 0 auto;
  position: absolute;
  background-color: #ffffff;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 2.78vw;
}

.nav-right > button {
  margin-left: 1.39vw;
  margin-right: 1.39vw;
}

.nav-img-btn {
  /* 3.7 */
  width: 3.7vh;
  height: 3.7vh;
}
